body {
    background-color: #DBD3D8;
}

/* Navbar custom CSS */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-extended .nav-wrapper {
    background-color: #223843;
    color: #EFF1F3;
}

nav .brand-logo {
    color: #EFF1F3;
}

nav  ul li a  {
    color: #EFF1F3;
}


/* register.html CSS */

.card-panel {
    background-color: #EFF1F3;
}

.prefix {
    color: #D77A61;
}

.register-btn button {
    background-color: #223843;
}

.register-btn button:hover {
    background-color: #D77A61;
    color: #EFF1F3;
}