{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Recipes</h3>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipe.image_url }}">
              <span class="card-title">{{ recipe.recipe_name }}</span>
            </div>
            <div class="card-content">
              <p>Category: {{ recipe.category_name }}</p>
              <p>Description: {{ recipe.recipe_description }}</p>
              <p></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    

{% endblock %}