{% extends "base.html" %}
{% block content %}

    <h3 class="title center-align">Recipes</h3>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              {% if recipe.image_url %}
                  <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
               {% else %}
                  <img src="{{ url_for('static', filename='images/dinner-is-served.webp') }}" alt="served up delicious hot pot">
              {% endif %}
                <span class="card-title">{{ recipe.recipe_name }}</span>
            </div>
            <div class="card-content">
                <p>Category: {{ recipe.category_name }}</p>
                <p>Description: {{ recipe.recipe_description }}</p>
                <p>Created By: {{ recipe.created_by }}</p>
                <div class="s3">
                  <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn-small blue">View</a>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    

{% endblock %}